*,
*::before,
*::after {
  box-sizing: border-box;
}


:where(html, body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  margin: 0;
}


html {
  -webkit-text-size-adjust: 100%; 
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  scroll-behavior: smooth;
  
}

body {
  min-height: 100vh;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text-primary);
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}




:where(ul, ol) {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; 
  margin: 0; 
}




@media (prefers-reduced-motion: reduce) {
  :where(*),
  :where(*::before),
  :where(*::after) {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:where(:focus) {
  outline: none;
}
:where(:focus-visible) {
  outline: 0.1875rem solid Highlight;
  outline-offset: 0.125rem;
}