section {
  scroll-margin-top: 10rem;
}

#how-it-works, #contact {
  scroll-margin-top: 4rem;
}

.btn {
  background-color: var(--color-primary-light);
  color: var(--color-text-light);
  border-radius: 1.25rem;
  border: solid var(--color-text-light);
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  padding: 0.625rem;
  width: 14.375rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 auto;
  
}

.btn:hover {
  background: var(--color-primary-dark);
  transform: translateY(-0.125rem);
}