/* Estilos do cabeçalho e navegação principal*/

header {
  background: var(--color-background-primary);
  box-shadow: 0 0.125rem 0.9375rem var(--shadow-color-light-1);
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header.scrolled {
  box-shadow: 0 0.25rem 1.25rem var(--shadow-color-medium);
}

.logo img {
  max-width: 8.125rem;
}

.nav-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-list a {
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
  transition: color 0.3s;
  position: relative;
  right: 70px;
}

.nav-list a::after {
  content: "";
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  background: var(--color-primary);
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-list a:hover {
  color: var(--color-primary);
}

.btn-secondary {
  margin: 0;
  position: absolute;
  right: 0;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.menu-icon:hover .fa-bars {
  opacity: 0.7;
}

.fa-bars {
  font-size: 24px;
  color: var(--color-primary);
  transition: 0.3s ease;
}

@media (max-width: 993px) {
  .nav-container {
    justify-content: space-between;
    padding: 0 1.5rem;
    position: relative;
    gap: 0;
  }

  .menu-icon {
    display: block;
  }

  /* Menu mobile: `.menu-toggle` controla a visibilidade de `.nav-wrapper` */
  .nav-wrapper {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: var(--color-background-primary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3.5rem 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    z-index: 999;
  }

  .nav-list {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .nav-list li {
    text-align: center;
    width: 100%;
  }

  .nav-list a {
    right: 0;
  }

  .btn-secondary {
    position: static;
    width: 180px;
    margin: 0 auto;
    font-size: 1rem;
  }

  .menu-toggle:checked ~ .nav-wrapper {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
