header {
            background: var(--color-background-primary);
            box-shadow: 0 0.125rem 0.9375rem var(--shadow-color-light-1);
            position: relative;
            
            
        }

        header.scrolled {
            box-shadow: 0 0.25rem 1.25rem var(--shadow-color-medium);
        }

        nav {
            max-width: 87.5rem;
            margin: 0 auto;
            padding: 1.5rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .nav-left {
            display: flex;
            gap: 3rem;
            align-items: center;
        }

        .nav-left a {
            text-decoration: none;
            color: var(--color-text-primary);
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.03125rem;
            transition: color 0.3s;
            position: relative;
        }

        .nav-left a::after {
            content: '';
            position: absolute;
            bottom: -0.3125rem;
            left: 0;
            width: 0;
            height: 0.125rem;
            background: var(--color-primary);
            transition: width 0.3s;
        }

        .nav-left a:hover::after {
            width: 100%;
        }

        .nav-left a:hover {
            color: var(--color-primary);
        }

        .logo{
            width: 9.375rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
