.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 9.375rem;
  text-align: center;
  padding: 6.25rem;
}

.hero-section h1 {
  font-size: 3.125rem;
}
.hero-section span {
  color: var(--color-primary-light);
  font-weight: 700;
}

.hero-section p {
  font-size: 1.125rem;
}

.hero-image-left,
.hero-image-right {
  width: 300px;
}
.hero-image-left {
  transform: rotate(-7deg);
}

.hero-image-right {
  transform: rotate(6deg);
}

.hero-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 100px;
}

