/* Hero / seção principal: texto e imagens do topo
   Observações:
   - Imagens decorativas são escondidas em telas menores para evitar overflow.
*/

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 9.375rem;
  text-align: center;
  padding: 6.25rem;
}

.hero-section h1 {
  font-size: 3.125rem;
  line-height: 60px;
}

.hero-section span {
  color: var(--color-primary-light);
  font-weight: 700;
}

.hero-section p {
  font-size: 1.125rem;
}

.hero-image-left,
.hero-image-right {
  width: 300px;
}

.hero-image-left {
  transform: rotate(-7deg);
}

.hero-image-right {
  transform: rotate(6deg);
}

.hero-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 100px;
}

@media (max-width: 884px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .hero-content {
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .hero-image-left,
  .hero-image-right {
    display: none;
  }

  .hero-section h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding: 2rem;
    margin-top: 150px;
  }

  .hero-section h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
